// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// Custom colors
$gray-0: #F4F5F6
$gray-50: #EBEEEF
$gray-100: #E3E6E8
$gray-200: #D5DADC
$gray-300: #C6CDD0
$gray-400: #ABB5BA
$gray-500: #8F9CA3
$gray-600: #73838C
$gray-700: #5C6970
$gray-800: #454F54
$gray-900: #2E3538

$teal-0: #EEF6F7
$teal-50: #CBE5E6
$teal-100: #A9D4D6
$teal-200: #86C2C5
$teal-300: #64B1B5
$teal-400: #4A979B
$teal-500: #3A7679
$teal-600: #2E5E60
$teal-700: #264D4F
$teal-800: #1E3C3E
$teal-900: #162B2D

// Set primary color to teal
$primary   : $teal-400
$secondary : $gray-500
$accent    : $teal-300

$dark      : $gray-900
$dark-page : $gray-800

$positive  : #1CD084
$negative  : #E43030
$info      : $teal-400
$warning   : #FADD00

// Font sizes
$text-xss: 10px
$text-xs: 12px
$text-sm: 14px
$text-md: 16px
$text-lg: 18px
$text-xl: 20px
$text-2xl: 24px
$text-3xl: 32px
$text-4xl: 36px
$text-5xl: 48px
$text-6xl: 60px
$text-7xl: 72px
$text-8xl: 96px
$text-9xl: 128px

// Spacing scale
$spacing-5xs: (x: 4px, y: 4px)
$spacing-4xs: (x: 6px, y: 6px)
$spacing-3xs: (x: 8px, y: 8px)
$spacing-2xs: (x: 10px, y: 10px)
$spacing-xs: (x: 12px, y: 12px)
$spacing-sm: (x: 14px, y: 14px)
$spacing-md: (x: 16px, y: 16px)
$spacing-lg: (x: 18px, y: 18px)
$spacing-xl: (x: 20px, y: 20px)
$spacing-2xl: (x: 24px, y: 24px)
$spacing-3xl: (x: 32px, y: 32px)
$spacing-4xl: (x: 36px, y: 36px)
$spacing-5xl: (x: 48px, y: 48px)
$spacing-6xl: (x: 60px, y: 60px)
$spacing-7xl: (x: 72px, y: 72px)
$spacing-8xl: (x: 96px, y: 96px)
$spacing-9xl: (x: 128px, y: 128px)

$new-spaces: (
  5xs: $spacing-5xs,
  4xs: $spacing-4xs,
  3xs: $spacing-3xs,
  2xs: $spacing-2xs,
  xs: $spacing-xs,
  sm: $spacing-sm,
  md: $spacing-md,
  lg: $spacing-lg,
  xl: $spacing-xl,
  2xl: $spacing-2xl,
  3xl: $spacing-3xl,
  4xl: $spacing-4xl,
  5xl: $spacing-5xl,
  6xl: $spacing-6xl,
  7xl: $spacing-7xl,
  8xl: $spacing-8xl,
  9xl: $spacing-9xl,
);

@use "quasar/src/css/variables" as q;
@use "sass:map";

$spaces: map.merge(q.$spaces, $new-spaces);

// Default font size
$body-font-size: $text-md
